{% extends "layout.html" %}
{% block body %}

<div class="offset-md-4">
<div class="card card-body">
<form action="/edit/{{procesador.0}}" method='POST'>
    <div class="form-group">
    <input type="text" name="nombre" placeholder="Nombre" value="{{procesador.1}}" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" name="tipo" placeholder="Tipo" value="{{procesador.2}}" class="form-control">
    </div>
    <div class="form-group">
    <input type="text" name="marca" placeholder="Marca" value="{{procesador.3}}" class="form-control">
    </div>  
    <button type='submit' class="btn btn-primary btn-block">save</button>    
    </form>
</div>
</div>
{% endblock %}
   