{% extends "layout.html" %}
{% block body %}
<div class ="row">

<div class="col-md-5">

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
 
 <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  
{% endfor %}
{% endif %}
{% endwith %}

<div class="card card-body">

        <form action="/add_procesadores" method='POST'>
            <div class="form-grooup">
                    <input type="text" name="nombre" placeholder="nombre" class="form-control">
            </div>
            <div class="form-grooup">
            <input type="text" name="cores" placeholder="Cores" class="form-control">
            </div>
            <div class="form-group">
                    <input type="text" name="marca" placeholder="Marca" class="form-control">
            </div>
            <div class="form-group">
                  <input type="text" name="frecuencia" placeholder="Frecuencia" class="form-control">
            </div>
            
            <div class="form-group">
                    <button type='submit' class="btn btn-primary btn-block">save</button>
            </div>
            
            
            </form>
            
</div>

</div>
<div class="col-md-7">
        <table class="table table-striped table-bordered bg-white ">
                <thead>
                <tr>
                    <td>id</td>
                    <td>nombre </td>
                    <td>cores </td>
                    <td>marca </td>
                    <td>frecuencia</td>
                </tr>
            </thead>
            <tbody>
                {% for procesador in procesadores %}
            
                
                <tr><td>{{procesador.0 }}  </td>
                    <td>{{procesador.1 }}  </td>
                    <td>{{procesador.2 }} </td>
                    <td>{{procesador.3 }} </td>
                    <td>{{procesador.4 }} </td>
                    <td><a href="/delete/{{procesador.0}}" class="btn btn-secundary"> Delete </a>  
                        <a href="/edit/{{procesador.0}}" class="btn btn-danger"> Edit </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

</div>
</div>



{% endblock %}