{% extends "layout.html" %}
{% block body %}

<div class="row">

    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card card-body">

            <form action="/productos" method='POST'>
                <div class="form-grooup">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="form-grooup">
                    <input type="text" name="tipo" placeholder="Tipo de producto" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="marca" placeholder="Marca" class="form-control">
                </div>
                <div class="form-group">
                    <button type='submit' class="btn btn-primary btn-block">save</button>
                </div>
            </form>

        </div>

    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white ">
            <thead>
                <tr>
                    <td>id_producto</td>
                    <td>nombre </td>
                    <td>tipo</td>
                    <td>marca </td>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{producto.0 }} </td>
                    <td>{{producto.1 }} </td>
                    <td>{{producto.2 }} </td>
                    <td>{{producto.3 }} </td>
                    <td><a href="/delete/{{producto.0}}" class="btn btn-warning"> Delete </a>
                        <a href="/edit/{{producto.0}}" class="btn btn-danger"> Edit </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}